extends layout
block main_hero
    include partials/main_hero
block how_it_works
    include partials/how_it_works
block meet_them
    include partials/meet_them
block listings
    include partials/listings
block features
    include partials/features
block testimonials
    include partials/testimonials
block what_are_you_waiting_for
    include partials/what_are_you_waiting_for