footer.footer
        .footer_main
          .container
            .row
              .col-lg-3
                .footer_logo
                  a(href='#')
                    img(src='images/logo_large.png', alt='')
              .col-lg-9.d-flex.flex-column.align-items-start.justify-content-end
                .footer_title Latest Properties
            .row
              .col-lg-3.footer_col
                .footer_about
                  .footer_about_text
                    | Donec in tempus leo. Aenean ultricies mauris sed quam lacinia lobortis. Cras ut vestibulum enim, in gravida nulla. Curab itur ornare nisl at sagittis cursus.
              .col-lg-3.footer_col
                .footer_latest.d-flex.flex-row.align-items-start.justify-content-start
                  div
                    .footer_latest_image
                      img(src='images/footer_latest_1.jpg', alt='')
                  .footer_latest_content
                    .footer_latest_location Miami
                    .footer_latest_name
                      a(href='#') Sea view property
                    .footer_latest_price $ 1. 234 981
              .col-lg-3.footer_col
                .footer_latest.d-flex.flex-row.align-items-start.justify-content-start
                  div
                    .footer_latest_image
                      img(src='images/footer_latest_2.jpg', alt='')
                  .footer_latest_content
                    .footer_latest_location Miami
                    .footer_latest_name
                      a(href='#') Town House
                    .footer_latest_price $ 1. 234 981
              .col-lg-3.footer_col
                .footer_latest.d-flex.flex-row.align-items-start.justify-content-start
                  div
                    .footer_latest_image
                      img(src='images/footer_latest_3.jpg', alt='')
                  .footer_latest_content
                    .footer_latest_location Miami
                    .footer_latest_name
                      a(href='#') Modern House
                    .footer_latest_price $ 1. 234 981
        .footer_bar
          .container
            .row
              .col
                .footer_bar_content.d-flex.flex-row.align-items-center.justify-content-start
                  .cr
                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                    | Copyright ©
                    script.
                      document.write(new Date().getFullYear());
                    |  All rights reserved | This template is made with 
                    i.fa.fa-heart-o(aria-hidden='true')
                    |  by 
                    a(href='https://colorlib.com', target='_blank') Colorlib
                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                  .footer_nav
                    ul
                      li
                        a(href='index.html') Home
                      li
                        a(href='#') About us
                      li
                        a(href='properties.html') Properties
                      li
                        a(href='news.html') News
                      li
                        a(href='contact.html') Contact
                  .footer_phone.ml-auto
                    span call us: 
                    | 652 345 3222 11