head
    title Bluesky
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Bluesky template project')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='https://dl.dropbox.com/s/tcrxfut59cht3oq/bootstrap.min.css?dl=0')
    link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='https://dl.dropbox.com/s/guezji5puxgb6y5/owl.carousel.css?dl=0')
    link(rel='stylesheet', type='text/css', href='https://dl.dropbox.com/s/bbhugs7d2zglxur/owl.theme.default.css?dl=0')
    link(rel='stylesheet', type='text/css', href='https://dl.dropbox.com/s/ebza19s5jc9d2ul/animate.css?dl=0')
    link(rel='stylesheet', type='text/css', href='https://dl.dropbox.com/s/14x4ndajx5khylf/main_styles.css?dl=0')
    link(rel='stylesheet', type='text/css', href='https://dl.dropbox.com/s/bfmd1182d3524kx/responsive.css?dl=0')
    