.menu.trans_500
        .menu_content.d-flex.flex-column.align-items-center.justify-content-center.text-center
          .menu_close_container
            .menu_close
          .logo.menu_logo
            a(href='#')
              .logo_container.d-flex.flex-row.align-items-start.justify-content-start
                .logo_image
                  div
                    img(src='images/logo.png', alt='')
          ul
            li.menu_item
              a(href='index.html') Home
            li.menu_item
              a(href='about.html') About us
            li.menu_item
              a(href='#') Speakers
            li.menu_item
              a(href='#') Tickets
            li.menu_item
              a(href='news.html') News
            li.menu_item
              a(href='contact.html') Contact
        .menu_phone
          span call us: 
          | 652 345 3222 11