.newsletter
        .parallax_background.parallax-window(data-parallax='scroll', data-image-src='images/newsletter.jpg', data-speed='0.8')
        .container
          .row
            .col
              .newsletter_content.d-flex.flex-lg-row.flex-column.align-items-start.justify-content-start
                .newsletter_title_container
                  .newsletter_title Are you buying or selling?
                  .newsletter_subtitle Search your dream home
                .newsletter_form_container
                  form.newsletter_form(action='#')
                    input.newsletter_input(type='email', placeholder='Your e-mail address', required='required')
                    button.newsletter_button subscribe now