.recent
        .container
          .row
            .col
              .section_title Recent Properties
              .section_subtitle Search your dream home
          .row.recent_row
            .col
              .recent_slider_container
                .owl-carousel.owl-theme.recent_slider
                  // Slide
                  .owl-item
                    .recent_item
                      .recent_item_inner
                        .recent_item_image
                          img(src='images/property_1.jpg', alt='')
                          .tag_featured.property_tag
                            a(href='#') Featured
                        .recent_item_body.text-center
                          .recent_item_location Miami
                          .recent_item_title
                            a(href='property.html') Sea view property
                          .recent_item_price $ 1. 234 981
                        .recent_item_footer.d-flex.flex-row.align-items-center.justify-content-start
                          div
                            .recent_icon
                              img(src='images/icon_1.png', alt='')
                            span 650 Ftsq
                          div
                            .recent_icon
                              img(src='images/icon_2.png', alt='')
                            span 3 Bedrooms
                          div
                            .recent_icon
                              img(src='images/icon_3.png', alt='')
                            span 3 Bathrooms
                  // Slide
                  .owl-item
                    .recent_item
                      .recent_item_inner
                        .recent_item_image
                          img(src='images/property_2.jpg', alt='')
                          .tag_offer.property_tag
                            a(href='#') Offer
                        .recent_item_body.text-center
                          .recent_item_location Los Angeles
                          .recent_item_title
                            a(href='property.html') 2 Floor Town House
                          .recent_item_price $ 1. 234 981
                        .recent_item_footer.d-flex.flex-row.align-items-center.justify-content-start
                          div
                            .recent_icon
                              img(src='images/icon_1.png', alt='')
                            span 650 Ftsq
                          div
                            .recent_icon
                              img(src='images/icon_2.png', alt='')
                            span 3 Bedrooms
                          div
                            .recent_icon
                              img(src='images/icon_3.png', alt='')
                            span 3 Bathrooms
                  // Slide
                  .owl-item
                    .recent_item
                      .recent_item_inner
                        .recent_item_image
                          img(src='images/property_3.jpg', alt='')
                          .tag_featured.property_tag
                            a(href='#') Featured
                        .recent_item_body.text-center
                          .recent_item_location Florida
                          .recent_item_title
                            a(href='property.html') Vacation Home
                          .recent_item_price $ 1. 234 981
                        .recent_item_footer.d-flex.flex-row.align-items-center.justify-content-start
                          div
                            .recent_icon
                              img(src='images/icon_1.png', alt='')
                            span 650 Ftsq
                          div
                            .recent_icon
                              img(src='images/icon_2.png', alt='')
                            span 3 Bedrooms
                          div
                            .recent_icon
                              img(src='images/icon_3.png', alt='')
                            span 3 Bathrooms
                .recent_slider_nav_container.d-flex.flex-row.align-items-start.justify-content-start
                  .recent_slider_nav.recent_slider_prev
                    i.fa.fa-chevron-left(aria-hidden='true')
                  .recent_slider_nav.recent_slider_next
                    i.fa.fa-chevron-right(aria-hidden='true')
              .button.recent_button
                a(href='#') see more
