script(src='https://dl.dropbox.com/s/au4qdj97mm0n9om/jquery-3.2.1.min.js?dl=0')
script(src='https://dl.dropbox.com/s/1x9okn0tk0bx7ls/popper.js?dl=0')
script(src='https://dl.dropbox.com/s/7mcusq5efkq5o10/bootstrap.min.js?dl=0')
script(src='https://dl.dropbox.com/s/j6k8x2045zdivnu/owl.carousel.js?dl=0')
script(src='https://dl.dropbox.com/s/igt9dd88lp9i1eb/easing.js?dl=0')
script(src='https://dl.dropbox.com/s/l7lkb726rjd3p6i/parallax.min.js?dl=0s')
script(src='https://dl.dropbox.com/s/oyiqusymsynz2o3/custom.js?dl=0')