.testimonials
        .container
          .row
            .col
              .section_title What our clients say
              .section_subtitle Search your dream home
          .row.testimonials_row
            // Testimonial Item
            .col-lg-4.testimonial_col
              .testimonial
                .testimonial_title Amazing home for me
                .testimonial_text
                  | Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.
                .testimonial_author_image
                  img(src='images/testimonial_1.jpg', alt='')
                .testimonial_author
                  a(href='#') Diane Smith
                  span , Client
                .rating_r.rating_r_5.testimonial_rating
                  i
                  i
                  i
                  i
                  i
            // Testimonial Item
            .col-lg-4.testimonial_col
              .testimonial
                .testimonial_title Friendly Realtors
                .testimonial_text
                  | Nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Pellentesque sit amet tellus blandit.
                .testimonial_author_image
                  img(src='images/testimonial_2.jpg', alt='')
                .testimonial_author
                  a(href='#') Michael Duncan
                  span , Client
                .rating_r.rating_r_5.testimonial_rating
                  i
                  i
                  i
                  i
                  i
            // Testimonial Item
            .col-lg-4.testimonial_col
              .testimonial
                .testimonial_title Very good communication
                .testimonial_text
                  | Retiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.
                .testimonial_author_image
                  img(src='images/testimonial_3.jpg', alt='')
                .testimonial_author
                  a(href='#') Shawn Gaines
                  span , Client
                .rating_r.rating_r_5.testimonial_rating
                  i
                  i
                  i
                  i
                  i