.site-section
        .container
          .row
            .col-lg-7
              h2.section-heading
                strong Features
              p.mb-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .row
            .col-lg-4.mb-5
              .service-1.dark
                span.service-1-icon
                  span.icon-home
                .service-1-contents
                  h3 Lorem ipsum dolor
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.
                  p.mb-0
                    a(href='#') Learn more
            .col-lg-4.mb-5
              .service-1.dark
                span.service-1-icon
                  span.icon-gear
                .service-1-contents
                  h3 Lorem ipsum dolor
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.
                  p.mb-0
                    a(href='#') Learn more
            .col-lg-4.mb-5
              .service-1.dark
                span.service-1-icon
                  span.icon-watch_later
                .service-1-contents
                  h3 Lorem ipsum dolor
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.
                  p.mb-0
                    a(href='#') Learn more
            .col-lg-4.mb-5
              .service-1.dark
                span.service-1-icon
                  span.icon-verified_user
                .service-1-contents
                  h3 Lorem ipsum dolor
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.
                  p.mb-0
                    a(href='#') Learn more
            .col-lg-4.mb-5
              .service-1.dark
                span.service-1-icon
                  span.icon-video_library
                .service-1-contents
                  h3 Lorem ipsum dolor
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.
                  p.mb-0
                    a(href='#') Learn more
            .col-lg-4.mb-5
              .service-1.dark
                span.service-1-icon
                  span.icon-vpn_key
                .service-1-contents
                  h3 Lorem ipsum dolor
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.
                  p.mb-0
                    a(href='#') Learn more