footer.site-footer
        .container
          .row
            .col-lg-3
              h2.footer-heading.mb-4 About Us
              p
                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
              ul.list-unstyled.social
                li
                  a(href='#')
                    span.icon-facebook
                li
                  a(href='#')
                    span.icon-instagram
                li
                  a(href='#')
                    span.icon-twitter
                li
                  a(href='#')
                    span.icon-linkedin
            .col-lg-8.ml-auto
              .row
                .col-lg-3
                  h2.footer-heading.mb-4 Quick Links
                  ul.list-unstyled
                    li
                      a(href='#') About Us
                    li
                      a(href='#') Testimonials
                    li
                      a(href='#') Terms of Service
                    li
                      a(href='#') Privacy
                    li
                      a(href='#') Contact Us
                .col-lg-3
                  h2.footer-heading.mb-4 Resources
                  ul.list-unstyled
                    li
                      a(href='#') About Us
                    li
                      a(href='#') Testimonials
                    li
                      a(href='#') Terms of Service
                    li
                      a(href='#') Privacy
                    li
                      a(href='#') Contact Us
                .col-lg-3
                  h2.footer-heading.mb-4 Support
                  ul.list-unstyled
                    li
                      a(href='#') About Us
                    li
                      a(href='#') Testimonials
                    li
                      a(href='#') Terms of Service
                    li
                      a(href='#') Privacy
                    li
                      a(href='#') Contact Us
                .col-lg-3
                  h2.footer-heading.mb-4 Company
                  ul.list-unstyled
                    li
                      a(href='#') About Us
                    li
                      a(href='#') Testimonials
                    li
                      a(href='#') Terms of Service
                    li
                      a(href='#') Privacy
                    li
                      a(href='#') Contact Us
          .row.pt-5.mt-5.text-center
            .col-md-12
              .border-top.pt-5
                p
                  // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                  | Copyright ©
                  script.
                    document.write(new Date().getFullYear());
                  |  All rights reserved | This template is made with 
                  i.icon-heart.text-danger(aria-hidden='true')
                  |  by 
                  a(href='https://colorlib.com', target='_blank') Colorlib