head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Rental
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='fonts/icomoon/style.css')
    link(rel='stylesheet', href='https://dl.dropbox.com/s/x3fls6qz648pjf3/bootstrap.min.css?dl=0')
    link(rel='stylesheet', href='https://dl.dropbox.com/s/swuua1xi9dj776k/bootstrap-datepicker.css?dl=0')
    link(rel='stylesheet', href='https://dl.dropbox.com/s/0swf7wjr9hxzalt/jquery.fancybox.min.css?dl=0')
    link(rel='stylesheet', href='https://dl.dropbox.com/s/2i7q19bzmx6lzaf/owl.carousel.min.css?dl=0')
    link(rel='stylesheet', href='https://dl.dropbox.com/s/b6mzky3ytjguea2/owl.theme.default.min.css?dl=0')
    link(rel='stylesheet', href='https://dl.dropbox.com/s/uvdwgt54w1zno05/flaticon.css?dl=0')
    link(rel='stylesheet', href='https://dl.dropbox.com/s/nc4gszl29llvf18/aos.css?dl=0')
    // MAIN CSS
    link(rel='stylesheet', href='https://dl.dropbox.com/s/llx2ufpxujy09l0/style.css?dl=0')