.site-section
        .container
          h2.section-heading
            strong How it works?
          p.mb-5 Easy steps to get you started
          .row.mb-5
            .col-lg-4.mb-4.mb-lg-0
              .step
                span 1
                .step-inner
                  span.number.text-primary 01.
                  h3 Select a car
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, laboriosam!
            .col-lg-4.mb-4.mb-lg-0
              .step
                span 2
                .step-inner
                  span.number.text-primary 02.
                  h3 Fill up form
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, laboriosam!
            .col-lg-4.mb-4.mb-lg-0
              .step
                span 3
                .step-inner
                  span.number.text-primary 03.
                  h3 Payment
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, laboriosam!
          .row
            .col-lg-4.mx-auto
              a.d-flex.align-items-center.play-now.mx-auto(href='#')
                span.icon
                  span.icon-play
                span.caption Video how it works