.site-section.bg-light
        .container
          .row
            .col-lg-7
              h2.section-heading
                strong Car Listings
              p.mb-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .row
            .col-md-6.col-lg-4.mb-4
              .listing.d-block.align-items-stretch
                .listing-img.h-100.mr-4
                  img.img-fluid(src='https://dl.dropbox.com/s/gxpaffr0j66j2so/car_6.jpg?dl=0', alt='Image')
                .listing-contents.h-100
                  h3 Mitsubishi Pajero
                  .rent-price
                    strong $389.00
                    span.mx-1 /
                    | day
                  .d-block.d-md-flex.mb-3.border-bottom.pb-3
                    .listing-feature.pr-4
                      span.caption Luggage:
                      span.number 8
                    .listing-feature.pr-4
                      span.caption Doors:
                      span.number 4
                    .listing-feature.pr-4
                      span.caption Passenger:
                      span.number 4
                  div
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos at eum, voluptatem quibusdam.
                    p
                      a.btn.btn-primary.btn-sm(href='#') Rent Now
            .col-md-6.col-lg-4.mb-4
              .listing.d-block.align-items-stretch
                .listing-img.h-100.mr-4
                  img.img-fluid(src='https://dl.dropbox.com/s/ddoqo9ml7zaznt2/car_5.jpg?dl=0', alt='Image')
                .listing-contents.h-100
                  h3 Nissan Moco
                  .rent-price
                    strong $389.00
                    span.mx-1 /
                    | day
                  .d-block.d-md-flex.mb-3.border-bottom.pb-3
                    .listing-feature.pr-4
                      span.caption Luggage:
                      span.number 8
                    .listing-feature.pr-4
                      span.caption Doors:
                      span.number 4
                    .listing-feature.pr-4
                      span.caption Passenger:
                      span.number 4
                  div
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos at eum, voluptatem quibusdam.
                    p
                      a.btn.btn-primary.btn-sm(href='#') Rent Now
            .col-md-6.col-lg-4.mb-4
              .listing.d-block.align-items-stretch
                .listing-img.h-100.mr-4
                  img.img-fluid(src='https://dl.dropbox.com/s/7skjs2zqzfa7pc0/car_4.jpg?dl=0', alt='Image')
                .listing-contents.h-100
                  h3 Honda Fitta
                  .rent-price
                    strong $389.00
                    span.mx-1 /
                    | day
                  .d-block.d-md-flex.mb-3.border-bottom.pb-3
                    .listing-feature.pr-4
                      span.caption Luggage:
                      span.number 8
                    .listing-feature.pr-4
                      span.caption Doors:
                      span.number 4
                    .listing-feature.pr-4
                      span.caption Passenger:
                      span.number 4
                  div
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos at eum, voluptatem quibusdam.
                    p
                      a.btn.btn-primary.btn-sm(href='#') Rent Now
            .col-md-6.col-lg-4.mb-4
              .listing.d-block.align-items-stretch
                .listing-img.h-100.mr-4
                  img.img-fluid(src='https://dl.dropbox.com/s/291igcc3jb2l0p0/car_3.jpg?dl=0', alt='Image')
                .listing-contents.h-100
                  h3 Skoda Laura
                  .rent-price
                    strong $389.00
                    span.mx-1 /
                    | day
                  .d-block.d-md-flex.mb-3.border-bottom.pb-3
                    .listing-feature.pr-4
                      span.caption Luggage:
                      span.number 8
                    .listing-feature.pr-4
                      span.caption Doors:
                      span.number 4
                    .listing-feature.pr-4
                      span.caption Passenger:
                      span.number 4
                  div
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos at eum, voluptatem quibusdam.
                    p
                      a.btn.btn-primary.btn-sm(href='#') Rent Now
            .col-md-6.col-lg-4.mb-4
              .listing.d-block.align-items-stretch
                .listing-img.h-100.mr-4
                  img.img-fluid(src='https://dl.dropbox.com/s/xsrdv10qm7qfnkj/car_2.jpg?dl=0', alt='Image')
                .listing-contents.h-100
                  h3 Mazda LaPuta
                  .rent-price
                    strong $389.00
                    span.mx-1 /
                    | day
                  .d-block.d-md-flex.mb-3.border-bottom.pb-3
                    .listing-feature.pr-4
                      span.caption Luggage:
                      span.number 8
                    .listing-feature.pr-4
                      span.caption Doors:
                      span.number 4
                    .listing-feature.pr-4
                      span.caption Passenger:
                      span.number 4
                  div
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos at eum, voluptatem quibusdam.
                    p
                      a.btn.btn-primary.btn-sm(href='#') Rent Now
            .col-md-6.col-lg-4.mb-4
              .listing.d-block.align-items-stretch
                .listing-img.h-100.mr-4
                  img.img-fluid(src='https://dl.dropbox.com/s/kf1s38tbj3mp3m5/car_1.jpg?dl=0', alt='Image')
                .listing-contents.h-100
                  h3 Buick LaCrosse
                  .rent-price
                    strong $389.00
                    span.mx-1 /
                    | day
                  .d-block.d-md-flex.mb-3.border-bottom.pb-3
                    .listing-feature.pr-4
                      span.caption Luggage:
                      span.number 8
                    .listing-feature.pr-4
                      span.caption Doors:
                      span.number 4
                    .listing-feature.pr-4
                      span.caption Passenger:
                      span.number 4
                  div
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos at eum, voluptatem quibusdam.
                    p
                      a.btn.btn-primary.btn-sm(href='#') Rent Now