.site-section
        .container
          .row.align-items-center
            .col-lg-7.text-center.order-lg-2
              .img-wrap-1.mb-5
                img.img-fluid(src='https://dl.dropbox.com/s/hzqkge0608t6g36/feature_01.png?dl=0', alt='Image')
            .col-lg-4.ml-auto.order-lg-1
              h3.mb-4.section-heading
                strong You can easily avail our promo for renting a car.
              p.mb-5
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, explicabo iste a labore id est quas, doloremque veritatis! Provident odit pariatur dolorem quisquam, voluptatibus voluptates optio accusamus, vel quasi quidem!
              p
                a.btn.btn-primary(href='#') Meet them now