.site-section.bg-light
        .container
          .row
            .col-lg-7
              h2.section-heading
                strong Testimonials
              p.mb-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .row
            .col-lg-4.mb-4.mb-lg-0
              .testimonial-2
                blockquote.mb-4
                  p
                    | "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"
                .d-flex.v-card.align-items-center
                  img.img-fluid.mr-3(src='https://dl.dropbox.com/s/gn3xqj2f9gylo1x/person_1.jpg?dl=0', alt='Image')
                  .author-name
                    span.d-block Mike Fisher
                    span Owner, Ford
            .col-lg-4.mb-4.mb-lg-0
              .testimonial-2
                blockquote.mb-4
                  p
                    | "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"
                .d-flex.v-card.align-items-center
                  img.img-fluid.mr-3(src='https://dl.dropbox.com/s/5mhbfw9hudynqgh/person_2.jpg?dl=0', alt='Image')
                  .author-name
                    span.d-block Jean Stanley
                    span Traveler
            .col-lg-4.mb-4.mb-lg-0
              .testimonial-2
                blockquote.mb-4
                  p
                    | "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"
                .d-flex.v-card.align-items-center
                  img.img-fluid.mr-3(src='https://dl.dropbox.com/s/67jvegalkxrg6hj/person_3.jpg?dl=0', alt='Image')
                  .author-name
                    span.d-block Katie Rose
                    span Customer